n8n/HiveFi_Eliza_Agent.json
{
  "name": "HiveFi Analytics Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://jake-actual-initiatives-powers.trycloudflare.com/6a79765a-1351-0906-8520-e96345afe67c/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.query }}"
            },
            {
              "name": "userId",
              "value": "n8n-user"
            },
            {
              "name": "userName",
              "value": "N8N Assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "b60f4d01-6cb7-4271-a8d9-62e70a0416c0",
      "name": "Send to Eliza Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        -140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42335239-2425-4274-8223-20ae2ca6111e",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb7b07e-8500-4f12-a462-3a52cc2af476",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        -140
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        -140
      ],
      "id": "d03e33eb-e6f8-4d24-85ba-effca44ab01a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        540,
        -140
      ],
      "id": "1d75ba8b-34d0-440a-ae4e-98b169cd6118",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Send to Eliza Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send to Eliza Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1b30298-d2de-41d6-8617-846e6179a8dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abf8971dfdbf55555155acdb4227d6ad43878667d46fbdff58c0161258f8c79b"
  },
  "id": "lwOQQKa3bYnYjiIe",
  "tags": [
    {
      "createdAt": "2025-02-21T21:50:50.195Z",
      "updatedAt": "2025-02-21T21:50:50.195Z",
      "id": "AR3QfpztJyQecQCI",
      "name": "eliza"
    },
    {
      "createdAt": "2025-03-04T15:12:24.409Z",
      "updatedAt": "2025-03-04T15:12:24.409Z",
      "id": "IE93cMFya8Glu9qB",
      "name": "hivefi"
    }
  ]
}