n8n/HiveFi_Eliza_Agent.json
{
  "name": "HiveFi MultiChain Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://stephanie-commodity-cite-jenny.trycloudflare.com/998352ac-ecab-0c94-9d98-c98de7a17c23/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.query }}"
            },
            {
              "name": "userId",
              "value": "n8n-user"
            },
            {
              "name": "userName",
              "value": "N8N Assistant"
            }
          ]
        },
        "options": {}
      },
      "id": "439295f8-5bef-42ea-977d-233d59898362",
      "name": "Send to Eliza Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        -140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42335239-2425-4274-8223-20ae2ca6111e",
              "name": "output",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc2f3edb-8055-4671-8330-44141409ab02",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        -140
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        -140
      ],
      "id": "32177dd7-97c5-4e80-b1f6-19c8436be5c9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        540,
        -140
      ],
      "id": "64e791c1-3d03-4925-9f0d-4cc848424c7d",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Send to Eliza Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send to Eliza Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf2f1494-315a-4803-8749-aa222d84e90e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abf8971dfdbf55555155acdb4227d6ad43878667d46fbdff58c0161258f8c79b"
  },
  "id": "Bhi08nxW2T9aKx0F",
  "tags": [
    {
      "createdAt": "2025-02-21T21:50:50.195Z",
      "updatedAt": "2025-02-21T21:50:50.195Z",
      "id": "AR3QfpztJyQecQCI",
      "name": "eliza"
    },
    {
      "createdAt": "2025-03-04T15:12:24.409Z",
      "updatedAt": "2025-03-04T15:12:24.409Z",
      "id": "IE93cMFya8Glu9qB",
      "name": "hivefi"
    }
  ]
}